<body>
    <header>
        <h1>Welcome to Sneaker.hub</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Our Products</h2>
            
            <div class="product">
                <img src="shoe1.jpg" alt="Sneaker 1">
                <h3>Nike Air Force 1</h3>
                <p>Price: $99.99</p>
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="sneaker1.html">View Details</a>
            </div>
            <div class="product">
                <img src="6ba9d6f4-1967-40c3-8642-9641c4bb0539.webp" alt="Sneaker 2">
                <h3>Nike Air Jordan 1</h3>
                <p>Price: $129.99</p>
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="sneaker2.html">View Details</a>
            </div>
            <div class="product">
                <img src="Ultraboost_Light_23_Shoes_Black_HP6443_HM3_hover.jpeg" alt="Sneaker 3">
                <h3>Adidas Ultraboost Light</h3>
                <p>Price: $129.99</p>
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="product_details.html?id=2">View Details</a>
            </div>
            <div class="product">
                <img src="PUMA-x-THE-SMURFS-RS-X-Sneakers.jpeg" alt="Sneaker 4">
                <h3>Puma X TheSmurfs</h3>
                <p>Price: $129.99</p>
                <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="product_details.html?id=2">View Details</a>
            </div>
            <div class="product">
                <img src="Trinity-Mid-Hybrid-Men's-Sneakers.jpeg" alt="Sneaker 5">
                <h3>Puma Trinity Hybrid</h3>
                <p>Price: $129.99</p>
                <p>Description: Introducing the Trinity Mid Hybrid, a mid-boot sneaker.</p>
                <a href="product_details.html?id=2">View Details</a>
            </div>            
            <div class="product">
                <img src="SOFTRIDE-Pro-Coast-Unisex-Running-Shoes.jpg" alt="Sneaker 6">
                <h3>SOFTRIDE Pro</h3>
                <p>Price: $129.99</p>
                <p>Description: Introducing the Trinity Mid Hybrid, a mid-boot sneaker.</p>
                <a href="product_details.html?id=2">View Details</a>
            </div>
            <div class="product">
                <img src="Rider-Future-Vintage-Unisex-Sneakers.jpg" alt="Sneaker 7">
                <h3>Rider Fututre Vintage</h3>
                <p>Price: $129.99</p>
                <p>Description: Introducing the Trinity Mid Hybrid, a mid-boot sneaker.</p>
                <a href="product_details.html?id=2">View Details</a>
            </div>
        
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Sneaker.hub. All rights reserved.</p>
    </footer>
</body>
