<body>
    <header>
        <div class="company-name">Sneakers.hub</div>
        <nav>
            <ul class="nav-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2 class="center-align">Lost your way? Let's get you back on track!</h2>
        <form action="home.html" method="get">
            <table>
                <tr>
                     <td><label for="username">Username</label></td>
                     <td><input type="text" id="username" name="username" placeholder="Enter your username"></td>
                </tr>
                <tr>
                    <td><label for="new-password">New Password:</label></td>
                    <td><input type="password" id="new-password" name="new-password"></td>
                </tr>
                <tr>
                    <td><label for="reenter">Re-enter the Password:</label></td>
                    <td><input type="password" id="reenter" name="reenter"></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="Change Password">
        </form>
    </div>
    <footer>
        <div class="social-media">
            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="twitter.png" alt="Twitter"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
        </div>
    </footer>